<!DOCTYPE html>
<html>
    <head>
                <title>Weather</title>
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                <link rel="icon" href="/cloud.png">
    <link rel="stylesheet" href="/css/style.css">
    
        </head>>
            <body>
                 <div class="main-content">
                    <h1>{{title}}</h1>
                     {{> header}}

                     <p>Use this site to get your weather!</p>
                    <div class="container">
	<div class="row">
    	<div class="container" id="formContainer">

          <form  id="login" role="form">
            <input id="input" type="text" placeholder="city" size="10" >
            <button class="btn btn-sm btn-primary" type="submit">Search</button>
          </form>
    
   
        </div> <!-- /container -->
	</div>
</div>
<p id="message-1"></p>
<p id="message-2"></p>
                 </div> 
                     {{> footer}}  
            <script src="/js/app.js"></script>
            </body>
</html>>
