<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="/css/style.css">
        </head>>
        <body>
            <h1>                {{> header}}</h1>
            <h1>            <h1>name- {{result}}
                title - {{forecast}}
                {{> footer}}
                </h1>   
                
        </body>
</html>>
